<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Unit conversion app</h1>
    <form method="post">
        <label for="input_km"></label>
        <input name="input_number" type="number" id="input_km" placeholder="enter number of km">
        <br>
        <br>
        <label for="input_kg"></label>
        <input name="input_number_2" type="number" id="input_kg" placeholder="enter number of kg">
        <br>
        <br>
        <label for="input_height"></label>
        <input name="input_number_3" type="number" id="input_height" placeholder="enter number of cm">
        <br>
        <br>
        <button type="submit">Convert</button>
    </form>
    <h3>This is: {{convert_to_miles}} miles. </h3>
    <h3>This is: {{convert_to_pounds}} pounds. </h3>
    <h3>This is: {{convert_to_inches}} inches. </h3>
    <!-- comment -->
</body>
</html>